/* header */

.header {
    position: relative;
    /* padding-left: 300px; */
    width: 100%;
    color: #555;
    background-color: #ddd;
    box-sizing: border-box;
    
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    display: inline-block;
    padding: 26px 40px;
    width:300px;
    height: 76px;
    color: #fff;
    font-size:20px;
    box-sizing: border-box;
    background-color: #ff4081;
}

/* .title {
    display: inline-block;
    padding: 38px;
    font-size: 18px;
    font-size: 1.8rem;
    vertical-align: bottom;
} */


.searchW {
    float: right;
    padding-right: 50px;
}

.searchbox {
    display: inline-block;
    margin: 20px 10px;
    /* width: 250px; */
    height: 25px;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: bottom;
}

.sIconW {
    display: inline-block;
    padding: 20px 5px;
}

.searchicon {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 5px solid #555;
}

.searchicon:after {
    content: '';
    position: relative;
    display: inline-block;
    margin-left: 12px;
    margin-top: 12px;
    width: 6px;
    height: 8px;
    background-color: #555;
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    -o-transform: skew(20deg);
}

@media (max-width:767px){
    .logo {
        padding:26px 18px;
        width:auto;
        background-color:transparent;
        color:hotpink;
    }
    .searchW {
        display:none;
    }
}