/* header */

.header {
    position: relative;
    width: 100%;
    color: #555;
    box-sizing: border-box;
    
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    display: inline-block;
}

.logo > a {
    display:block;
    padding: 26px 40px;
    width:300px;
    height: 76px;
    color: #fff;
    font-size:20px;
    box-sizing: border-box;
    background-color: #ff4081;   
}

@media (max-width:767px){
    .logo > a {
        padding:26px 18px;
        width:auto;
        background-color:transparent;
        color:hotpink;
    }
    .searchW {
        display:none;
    }
}