.carousel-wrap {
    padding:20px;
}
.title {
    padding:20px 0;
    font-size:24px;
    color:#555;
}
.title02 {
    padding:20px 0;
    font-size:20px;
    color: navy;;
}
.txt {
    text-align:center;
}
.slider-wrap {
    position:relative; 
    width:600px; 
    overflow: hidden;
}
img.bxslider-img {
    max-height: 400px;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide:nth-child(2n) {
    width: 60%;
  }
  .swiper-slide:nth-child(3n) {
    width: 40%;
  }
  .swiper-slide img {
      width:100%; 
      height:120px;
}
  .swiper-slide .txt {
      position: absolute;
      color:#fff;
      top:5px; 
      left:5px;
  }