.carousel-wrap {
    padding:20px;
}
.title{
    padding:20px 0;
    font-size:24px;
    color:#555;
}
.slider {position:relative; width:800px; overflow: hidden;}
.slider li {display:block; float:left; position:relative; width:800px;}
.slider li img {width:100%;}