.menubar {
    position: relative;
    background-color: #555;
}

.my-class {
    margin-left:-300px;
}

.menulist {
    padding: 0;
}

.menulist li {
    position: relative;
    display: block;
}

.menulist li a {
    display: block;
    padding:20px 50px;
    color: #fff;
}

.menulist li a:hover {
    background-color:black;
}


.menulist li.active a {
    background: hotpink; 
}

.menuIcon {
    display:none;
    position: absolute;
    right:0;
    top:0;
    padding: 20px;
    vertical-align: bottom;
    cursor: pointer;
}

@media (max-width:767px){

    .menuIcon > div {
        margin: 6px 0;
        width: 30px;
        height: 4px;
        background-color: #fff;
        transition: 0.4s;
    }
    .menuIcon {
        display: inline-block;
        z-index: 100;
    }  
    .menuIcon.active .bar1 {-webkit-transform:rotate(-45deg) translate(-9px, 6px); transform:rotate(-45deg) translate(-9px, 6px);}
    .menuIcon.active .bar2 {opacity:0;}
    .menuIcon.active .bar3 {-webkit-transform:rotate(45deg) translate(-8px, -8px); transform:rotate(45deg) translate(-7px, -6px);}
    .menubar {
        display: none;
        position: relative;
        width:100%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .menubar.active {
        display:inline-block;
        /* position: absolute;
        right:0; */
    }
    .menulist li {
        display: inline-block;
    }
    .menulist li a {
        padding:10px;
    }
}