
<div class="menuIcon" (click)="toggleClassActive = !toggleClassActive"  [class.active]="!toggleClassActive"><!-- (click)="showStyle = !showStyle;" -->
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>
<nav class="menubar" [class.active]="!toggleClassActive"><!--[style.margin-left]="getStyle()"-->
    <!-- <h1 class="logo">My Angular Portfolio</h1> -->
    <ul class="menulist">
        <li (click)="selectedItem=i"
         *ngFor="let item of items, let i = index; let x of statementresponse;" [class.active]="selectedItem == i" >
            <a href="" [routerLink]="item.routerLink">
                {{item.text}}
            </a>
        </li><!--routerLink="{{links[i]}} "--><!--[routerLink]="links[i]"--><!--[class.highlight]="isHighlighted[i]"--><!-- (click)="isHighlighted[i] = !isHighlighted[i]" -->
    </ul>
</nav>
<!--[attr.data-selected]="false" -->
<!--(click)="toggleClass(item)"-->
<!--[ngClass]="{'highlight': item.active}" -->