header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;
} 
.contents {
    display: block;
    position: relative;
    padding: 76px 0 400px 0;
}
.inner-contents {
    position: relative;
    padding-left:300px;
}

@media (max-width:767px){
    .inner-contents {
        padding-left:0;
    }
}

