.nav {
    display: inline-block;
    position: fixed;
    overflow: auto;
    left: 0;
    top: 0;
    bottom: 0;
    background-color:#555;
}
header {
    display: inline-block;
    position: relative;
} 
.contents {
    display: block;
    position: relative;
    min-height:100%;
    padding:0 0 400px 0;
    margin-left:300px;
}
.inner-contents {
    position: relative;
}

@media (max-width:767px){
    .nav {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .contents {
        margin:0;
    }
    .inner-contents {
        padding-left:0;
    }
}

