.board-wrap {
    padding:20px;
}
.board-box01 {
    display: block;
    position: relative;
    padding:30px;
    width:500px;
}
.board-box01 input{
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #555;
    box-sizing: border-box;
    z-index: 10;
    vertical-align: bottom;
}
.input-list {
    display: inline-block;
}
.input-wrap {
    display:block;
    position: relative;
    padding:5px;
    margin:5px;
}
.input-wrap label {
    display: inline-block;
    vertical-align: middle;
    padding:10px;
    width:62px;
    box-sizing:border-box;
}
.table-wrap {
    padding:20px;
}
.table01 {
    border:1px solid #555;
}
.table01 td {
    padding:5px;
}
.btn-add {
    display: inline-block;
    position: absolute;
    top:50%;
    margin: -26px 5px 0;
    padding: 10px;
    color: #fff;
    background-color: #ccc;
    border-radius: 3px;
    font-size: 18px;
    vertical-align: bottom;
    cursor: pointer;
    border:0;
}
.btn-add:hover {
    background-color: rgb(42, 178, 234);
}
