<div class="calendar-wrap">
  <h2 class="title">Calendar</h2>
  <h3 class="title02">jquery-ui datepicker</h3>
  <div class="datepicker"></div>
  <h3 class="title02">custom datepicker</h3>
  <div class="cal-wrap">
    <div class="calendar"></div>
  </div>
  <div class="range-wrap">
    <div>
      <label for="start-date">체크인</label>
      <input type="text" name="start-date" id="start-date" class="start-date" placeholder="Start date">
    </div>
    <span>~</span>
    <div>
      <label for="end-date">체크아웃</label>
      <input type="text" name="end-date" id="end-date" class="end-date" placeholder="End date">
    </div>
  </div>
  <div> 
    <div class="range-wrap">
      <div>
        <label for="start">출발일</label>
        <input type="text" name="start" id="start" placeholder="Start date">
        <div class="start"></div>
      </div>
      <span>~</span>
      <div>
        <label for="end">도착일</label>
        <input type="text" name="end" id="end" placeholder="End date">
        <div class="end"></div>
      </div>
    </div>
  </div>

</div>