/* @import "../../assets/css/custom.calendar.css"; */

.calendar-wrap {
    padding:20px;
} 

.cal-wrap {
    display:block;
    position: relative;
}

.calendar {
    width:300px; 
}

.range-wrap {
    display:inline-block;
    position: relative;
    vertical-align:top;
    background-color:#ddd;
    padding:15px;
    margin:40px 0px;
    border-radius:5px;
}
.range-wrap .box {
    display:inline-block;
    position: relative;
    vertical-align:top;
}

.range-wrap label {
    display:block;
    margin:5px 10px 0;
    padding:3px;
    font-size: 14px;
    font-weight:600;
}
.range-wrap input {
    padding:5px;
    margin:10px;
    font-size:16px;
}

.start {
    display:none;
    position: absolute;
    top:80px;
    z-index: 50;
}
.end {
    display:none;
    position: absolute;
    top:80px;
    z-index: 50;
}

.range01, .range02 {
    display:none;
    position: absolute;
    top:80px;
    left:0;
    z-index: 50;
}



